<template>
    <div >

        <v-container fluid >
            <v-slide-y-transition mode="out-in">
                <v-layout column align-center class="mt-5">

                  <v-card>
                    <v-card-title primary-title>
                      <div>
                        <h3 class="headline mb-0">LOGIN BITBOSS</h3>
                      </div>
                    </v-card-title>

                    <v-card-text>

                      <v-flex xs12 md12 lg12>


                        <v-text-field
                          id="email"
                          name="email"
                          label="email"
                          v-model="email"
                        ></v-text-field>

                        <v-text-field
                          id="password"
                          type="password"
                          name="password"
                          label="password"
                          v-model="password"
                        ></v-text-field>

                        <v-btn large block dark color="blu" class="altezza_login"  @click.native="login">Accedi</v-btn>

                      </v-flex>


                    </v-card-text>


                  </v-card>


                </v-layout>
            </v-slide-y-transition>

            <v-layout row justify-center>
              <v-dialog v-model="dialog" persistent max-width="500px">
                <v-btn slot="activator" color="primary" dark>Registrati</v-btn>
                <v-card>
                  <v-card-title>
                    <span class="headline">Registrati</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12>
                          <v-text-field label="Nome" required v-model="registrazione.nome"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field label="Cognome" type="password" required v-model="registrazione.cognome"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field label="Email" required v-model="registrazione.email"></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                          <v-text-field label="Password" type="password" required v-model="registrazione.password"> </v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-container>
                    <small>*indicates required field</small>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="dialog = false">Chiudi</v-btn>
                    <v-btn color="blue darken-1" flat @click.native="registrami">Registrami</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-layout>


        </v-container>




    </div>
</template>

<script>
  import Request from '../../services/Request'
  export default {
    name: 'login',
    data () { // inizio data
      return { // inizio return
        registrazione: {
          nome: '',
          cognome: '',
          email: '',
          password: ''
        },
        dialog: false,
        email: '',
        password: ''
      } // fine return
    }, // fine data
    methods: { // inizio methods
      registrami () {
        if (this.registrazione.nome.length > 0 && this.registrazione.cognome.length > 0 && this.registrazione.email.length > 0 && this.registrazione.password.length > 0) {
          const params = {
            nome: this.registrazione.nome,
            cognome: this.registrazione.cognome,
            email: this.registrazione.email,
            password: this.registrazione.password
          }
          Request.SignupAuth(params)
            .then((response) => {
              localStorage.setItem('token', response.data.token)
              this.$router.push(`/posizioni`)
              location.reload()
            })
            .catch((error) => {
              console.log(error)
            })
        } else {
          alert('compila i campi')
        }
      },
      login () { // inizio login
        Request.loginAuth({email: this.email, password: this.password})
          .then((response) => {
            localStorage.setItem('token', response.data.token)
            this.$router.push(`/posizioni`)
            location.reload()
          })
          .catch((error) => {
            console.log(error)
          })
      } // fine login
    } // fine methods
  }
</script>

<style scoped>


</style>
