<template>
    <div>


        <v-navigation-drawer :mini-variant.sync="mini" v-model="drawer" stateless hide-overlay fixed app  class="navigation_background" >


            <v-toolbar flat class="transparent mb-3"  >
                <v-list class="pa-0 navigation_background ">
                    <v-list-tile avatar>
                        <v-list-tile-avatar>
                            <img src="https://www.bitboss.it/images/BitBoss/logo-black-200.png" >
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>{{nome}} {{cognome}}</v-list-tile-title>
                        </v-list-tile-content>
                      <v-list-tile-content>
                        <v-btn class="error" @click.native="logout">logout</v-btn>
                      </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-toolbar>

            <v-divider class="mb-3 black"></v-divider>


            <v-list>

                <v-list-tile class="mb-5 "v-for="item in items" :key="item.title" @click="url(item.azione)">
                    <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title class="titolo_menu">{{ item.title }}     </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

            </v-list>

        </v-navigation-drawer>

        <v-content class="background_contenuto">
            <div class="ml-4 mr-4">
                <router-view></router-view>
            </div>
        </v-content>

      <v-footer class="pa-3" fixed>
        <p class="mt-2">Bitboss</p>
        <v-spacer></v-spacer>
        <div>&copy; {{ new Date().getFullYear() }}</div>
      </v-footer>


    </div>



</template>

<script>
  import Request from '../../services/Request'

  export default { // inizio classe
    name: 'Scheletro',
    beforeMount () {
      this.carica_info()
    },
    data () { // inizio data
      return { // inizio return
        nome: '',
        cognome: '',
        drawer: true,
        items: [],
        mini: true
      } // fine return
    }, // fine data
    methods: { // inizio methods
      url (link) {
        this.$router.push(`/${link}`)
      },
      logout () {
        localStorage.removeItem('token')
        location.reload()
      },
      carica_info () {
        Request.Post('user', {})
          .then((response) => {
            this.nome = response.data.dati.nome
            this.cognome = response.data.dati.cognome
            if (response.data.dati.is_admin === 1) {
              this.items = [
                {
                  title: 'Aggiungi posizione',
                  icon: 'add',
                  azione: 'new_posizione'
                },
                {
                  title: 'Candidati',
                  icon: 'card_travel',
                  azione: 'candidati'
                }
              ]
            } else {
              this.items = [
                {
                  title: 'posizioni',
                  icon: 'card_travel',
                  azione: 'posizioni'
                },
                {
                  title: 'candidature',
                  icon: 'card_travel',
                  azione: 'candidature'
                }
              ]
            }
          })
          .catch((error) => {
            console.error(error)
          })
      }
    } // fine methods
  } // fine classe
</script>


<style scoped>



</style>
