<template>
  <div class="mt-5">
    <template>
      <v-data-table
        :headers="headers"
        :items="dati"
        hide-actions
        class="elevation-1"
      >
        <template slot="items" slot-scope="props" >
          <td>{{ props.item.posizione }}</td>
          <td v-if="props.item.stato">
            <p v-if="props.item.stato == 1">Accettata</p>
            <p v-if="props.item.stato == 0">Rifiutata</p>
          </td>
          <td v-else>Inviata</td>
        </template>
      </v-data-table>
    </template>
  </div>
</template>

<script>
  import Request from '../../services/Request'

  export default {
    beforeMount () {
      Request.Get('candidature', {})
        .then((response) => {
          this.dati = response.data.dati
        })
        .catch((error) => {
          console.log(error)
        })
    },
    data () {
      return {
        headers: [
          {
            text: 'Le mie candidature',
            value: 'posizione'
          },
          {
            text: 'stato',
            value: 'Stato'
          }
        ],
        dati: []
      }
    }
  }
</script>

<style scoped>

</style>
