<template>
  <div class="mt-5">
    <template>
      <v-data-table
        :headers="headers"
        :items="dati"
        hide-actions
        class="elevation-1"
      >
        <template slot="items" slot-scope="props" >
          <td>{{ props.item.posizione }}</td>
          <td >{{ props.item.nome }}</td>
          <td >{{ props.item.cognome }}</td>
          <td v-if="props.item.stato == 1" >
            <p >Accettata</p>
          </td>
          <td v-else-if="props.item.stato == 0">
            <p>Rifiutata</p>
          </td>
          <td v-else>Inviata</td>
          <td v-if="!props.item.stato && props.item.stato != 0">
            <v-btn icon class="mx-0"  @click="accetta(props.item)">
              <v-icon color="pink">add</v-icon>
            </v-btn>
            <v-btn icon class="mx-0"  @click="rifiuta(props.item)">
              <v-icon color="pink">remove</v-icon>
            </v-btn>
          </td>
        </template>
      </v-data-table>
    </template>
  </div>
</template>

<script>
  import Request from '../../services/Request'

  export default {
    beforeMount () {
      Request.Get('candidati', {})
        .then((response) => {
          this.dati = response.data.dati
        })
        .catch((error) => {
          console.log(error)
        })
    },
    data () {
      return {
        headers: [
          {
            text: 'Posizione',
            value: 'posizione'
          },
          {
            text: 'nome',
            value: 'nome'
          },
          {
            text: 'cognome',
            value: 'cognome'
          },
          {
            text: 'stato',
            value: 'stato'
          },
          {
            text: 'azione',
            value: 'azione'
          }
        ],
        dati: []
      }
    },
    methods: {
      accetta (item) {
        Request.Post('candidature', {id_candidatura: item.id_posizione, stato: 1})
          .then((response) => {
            alert('candidatura confermata')
          })
          .catch((error) => {
            alert('errore')
            console.error(error)
          })
      },
      rifiuta (item) {
        Request.Post('candidature', {id_candidatura: item.id_posizione, stato: 0})
          .then((response) => {
            alert('candidatura rifiutata')
          })
          .catch((error) => {
            alert('errore')
            console.error(error)
          })
      }
    }
  }
</script>

<style scoped>

</style>
