<template>
    <v-app id="app">

        <div v-if="controllo" >

            <Scheletro></Scheletro>

        </div>

        <div v-else >

            <Login></Login>

        </div>


    </v-app>
</template>

<script>
  import Login from './components/Login/Login'
  import Scheletro from './components/Scheletro/Scheletro'

  export default {
    name: 'App',
    components: {
      Login,
      Scheletro
    },
    data () {
      return {
        nome: '',
        cognome: '',
        drawer: true,
        items: [
          { title: 'Dashboard', icon: 'poll' },
          { title: 'Clienti', icon: 'face' },
          { title: 'Personale', icon: 'people' },
          { title: 'Progetti', icon: 'card_travel' },
          { title: 'Commesse', icon: 'check_circle' },
          { title: 'Staffing', icon: 'history' }
        ],
        mini: true
      }
    },
    computed: { // inizio computed
      controllo () { // inizio controllo
        if (localStorage.getItem('token') === null) {
          return false
        } else {
          return true
        }
      } // fine controllo
    } // fine computed
  }
</script>


<style >


</style>