<template>
    <div>

      <v-container fluid>
        <v-layout row>
          <v-flex xs4>
            <v-subheader>NOME POSIZIONE</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              name="nome"
              v-model="nome"
              label="Posizione"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row>
          <v-flex xs4>
            <v-subheader>DESCRIZIONE</v-subheader>
          </v-flex>
          <v-flex xs8>
            <v-text-field
              name="descrizione"
              label="Descrizione"
              v-model="descrizione"
            ></v-text-field>
          </v-flex>
        </v-layout>


        <v-layout row>
          <v-flex xs4>
          <v-btn large class="primary" @click.native="inserisci">INSERISCI</v-btn>
          </v-flex>
        </v-layout>
      </v-container>

    </div>
</template>

<script>
  import Request from '../../services/Request'

  export default {
    name: 'NewPosizione',
    data () {
      return {
        nome: '',
        descrizione: ''
      }
    },
    methods: {
      inserisci () {
        if (this.nome.length > 0) {
          Request.Post('posizioni', {
            posizione: this.nome,
            descrizione: this.descrizione
          })
            .then((response) => {
              this.nome = ''
              this.descrizione = ''
              alert(response.data.info)
            })
            .then((error) => {
              alert(error.data.info)
              console.error(error)
            })
        } else {
          alert('compila i campi')
        }
      }
    }
  }
</script>

<style scoped>

</style>
