<template>
    <div class="mt-5">
        <template>
            <v-data-table
                    :headers="headers"
                    :items="dati"
                    hide-actions
                    class="elevation-1"
            >
                <template slot="items" slot-scope="props" >
                    <td>{{ props.item.posizione }}</td>
                  <td >
                    <v-btn icon class="mx-0" @click="candidati(props.item)">
                      <v-icon color="pink">add</v-icon>
                    </v-btn>
                  </td>
                </template>
            </v-data-table>
        </template>
    </div>
</template>

<script>
  import Request from '../../services/Request'

  export default {
    beforeMount () {
      Request.Get('posizioni', {})
        .then((response) => {
          this.dati = response.data.dati
        })
        .catch((error) => {
          console.log(error)
        })
    },
    data () {
      return {
        headers: [
          {
            text: 'Posizioni aperte',
            value: 'posizione'
          },
          {
            text: 'Azione',
            value: 'Azione'
          }
        ],
        dati: []
      }
    },
    methods: {
      candidati (item) {
        Request.Post('candidati', {id_posizione: item.id})
          .then((response) => {
            console.log(response)
            alert(response.data.info)
          })
          .catch((error) => {
            alert(error.data.info)
            console.error(error)
          })
      }
    }
}
</script>

<style scoped>

</style>
